.name {
    /* height: 25.80645179748535px; */
    /* width: 178.06451416015625px; */
    /* left: 186px; */
    /* top: 382px; */
    /* border-radius: nullpx; */
    color: #FFFFFF;
    /* margin: auto; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

}

.card {
    width: 317px;
    margin: auto;
    background: #1A1B21;
}

.subhead {
    /* margin: auto; */
    /* margin-top: 10px; */
    /* height: 14.193548202514648px; */
    /* width: 178.06451416015625px; */
    /* left: 186px; */
    /* top: 414px; */
    border-radius: nullpx;
    color: #F3BF99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

}

.email {
    /* position: absolute; */
    width: 228px;
    height: 16px;
    left: 161px;
    top: 437px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;

    color: #F5F5F5;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
}

button {

    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.b2 {
    background: #5093E2;
}